<h1>Menus</h1>
<% @menus.each do |menu| %>
	<div class="menu">
		<%= link_to menu.name, edit_menu_path(menu) %>
		<div class="menu_controls">
			<div class="menu_edit_button">
				<%= link_to 'edit', edit_menu_path(menu) %>
			</div>
			<div class="menu_delete_button">
				<%= link_to 'delete' %>
			</div>
		</div>
	</div>
<% end %>